body {
    background-color: #D9FFFF;
}
.page-body{
    min-height: 100vh;
    position: relative;
}
.login-box {
    background: #FFFFFF;
    border-radius: 20px;
    height: 80%;
}

.login-form {
    width : 70%;
}

.login-fail {
    box-sizing: border-box;
    background: #F5F5F5;
    border: 1px solid #EB0000;
}
.left-bar {
    position: absolute;
    top: 0;
    left: -25px;
    bottom: 0;
}


.text-nowrap {
    white-space: nowrap;
}

option {
    height: 10px; 
    overflow: auto;
}