body {
    background-color: #D9FFFF;
}
.page-body{
    height: 80vh;
    position: relative;
}
.login-box {
    background: #FFFFFF;
    border-radius: 20px;
    height: 80%;
}

.login-form {
    width : 70%;
}

.login-fail {
    box-sizing: border-box;
    background: #F5F5F5;
    border: 1px solid #EB0000;
}
.page-body{
    height: 100vh;
    position: relative;
}
.left-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
